body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    /*background-image: url("/images/background.jpg");*/
    background: #c6e5ac;
    /* Full height */
    min-height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}

.indexrow {
    margin: 10px;
    width: 100%;
}

.greenBox {

    background: rgba(92, 128, 4, 18);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;

}

.lightGreenBox {

    background: rgba(150, 150, 30, 1);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;

}

.whiteBackground {

    background: rgba(255, 255, 255, .7);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}

.blueBackground {

    background: rgba(39, 68, 216, .7);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}

.greenBackground {

    background: rgba(39, 216, 41, .7);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}

.redBackground {

    background: rgba(216, 39, 39, .7);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}

.yellowBackground {

    background: rgba(191, 176, 40, .7);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}

.purpleBackground {

    background: rgba(255, 0, 255, .7);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}

.container {
    padding: 20px;
}

.aRight {
    text-align: right;
}

form {
    width: 80%;
    margin: 0 auto;
}

a:link {
    text-decoration: none;
    color: #eee;
    border: 0px;
    -moz-outline-style: none;
}

a:active {
    text-decoration: underline;
    color: #eee;
    border: 0px;
    -moz-outline-style: none;
}

a:visited {
    text-decoration: none;
    color: #eee;
    border: 0px;
    -moz-outline-style: none;
}

a:hover {
    text-decoration: underline;
    color: #eee;
    border: 0px;
    -moz-outline-style: none;
}

a:focus {
    outline: none;
    -moz-outline-style: none;
}
